In [9]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in a:
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [3]:
b = [i *i for i in a]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
c = [i*i for i in a if i%2 == 1]
c

[1, 9, 25, 49, 81]

In [12]:
# a = ['Orange', 'apple', 'banana']
d = [i*i for i in a if i %2 == 1]

In [13]:
d

[1, 9, 25, 49, 81]

In [14]:
# Dictionary Comprehensions

In [16]:
a = list(range(10))
b = list(range(10,20))
c = dict()

d = {key:value for (key, value) in zip(a,b)}
d

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [17]:
e = {key:value for (key, value) in d.items() if value> 15 }

In [18]:
e

{6: 16, 7: 17, 8: 18, 9: 19}

In [19]:
a = set(range(10))
a

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [20]:
b = {i for i in a if i > 6}

In [21]:
b

{7, 8, 9}

In [ ]:
# Numpy & Pandas

In [22]:
! conda list

# packages in environment at C:\ProgramData\Anaconda3:
#
# Name                    Version                   Build  Channel
_ipyw_jlab_nb_ext_conf    0.1.0                    py37_0
alabaster                 0.7.12                   py37_0
anaconda                  2019.10                  py37_0
anaconda-client           1.7.2                    py37_0
anaconda-navigator        1.9.7                    py37_0
anaconda-project          0.8.3                      py_0
appdirs                   1.4.4                    pypi_0    pypi
asgiref                   3.2.10                   pypi_0    pypi
asn1crypto                1.0.1                    py37_0
astroid                   2.3.1                    py37_0
astropy                   3.2.1            py37he774522_0
atomicwrites              1.3.0                    py37_1
attrs                     19.2.0                     py_0
babel                     2.7.0                      py_0
backcall                  0.1.0                    py37_0
backports                 1.0                        py_2
backports-abc             0.5                      pypi_0    pypi
backports.functools_lru_cache 1.5                        py_2
backports.os              0.1.1                    py37_0
backports.shutil_get_terminal_size 1.0.0                    py37_2
backports.tempfile        1.0                        py_1
backports.weakref         1.0.post1                  py_1
beautifulsoup4            4.8.0                    py37_0
bitarray                  1.0.1            py37he774522_0
bkcharts                  0.2                      py37_0
blas                      1.0                         mkl
bleach                    3.1.0                    py37_0
blosc                     1.16.3               h7bd577a_0
bokeh                     1.3.4                    py37_0
boto                      2.49.0                   py37_0
bottleneck                1.2.1            py37h452e1ab_1
branca                    0.4.1                    pypi_0    pypi
bzip2                     1.0.8                he774522_0
ca-certificates           2019.8.28                     0
certifi                   2019.9.11                py37_0
cffi                      1.12.3           py37h7a1dbc1_0
chardet                   3.0.4                 py37_1003
click                     7.0                      py37_0
cloudpickle               1.2.2                      py_0
clyent                    1.2.2                    py37_1
colorama                  0.4.1                    py37_0
comtypes                  1.1.7                    py37_0
conda                     4.8.0                    py37_1
conda-build               3.18.9                   py37_3
conda-env                 2.6.0                         1
conda-package-handling    1.6.0            py37h62dcd97_0
conda-verify              3.4.2                      py_1
configparser              5.0.0                    pypi_0    pypi
console_shortcut          0.1.1                         3
contextlib2               0.6.0                      py_0
cryptography              2.7              py37h7a1dbc1_0
curl                      7.65.3               h2a8f88b_0
cycler                    0.10.0                   py37_0
cython                    0.29.13          py37ha925a31_0
cytoolz                   0.10.0           py37he774522_0
dask                      2.5.2                      py_0
dask-core                 2.5.2                      py_0
decorator                 4.4.0                    py37_1
defusedxml                0.6.0                      py_0
distlib                   0.3.1                    pypi_0    pypi
distributed               2.5.2                      py_0
django                    3.1.2                    pypi_0    pypi
docopt                    0.6.2                    pypi_0    pypi
docutils                  0.15.2                   py37_0
entrypoints               0.3                      py37_0
et_xmlfile                1.0.1                    py37_0
fastcache                 1.1.0            py37he774522_0
filelock                  3.0.12                     py_0
flask                     1.1.1                      py_0
folium                    0.11.0                   pypi_0    pypi
freetype                  2.9.1                ha9979f8_1
fsspec                    0.5.2                      py_0
future                    0.17.1                   py37_0
futures                   3.1.1                    pypi_0    pypi
genson                    1.2.0                    pypi_0    pypi
get_terminal_size         1.0.0                h38e98db_0
gevent                    1.4.0            py37he774522_0
glob2                     0.7                        py_0
greenlet                  0.4.15           py37hfa6e2cd_0
h2o                       3.28.0.1                 pypi_0    pypi
h5py                      2.9.0            py37h5e291fa_0
hdf5                      1.10.4               h7ebc959_0
heapdict                  1.0.1                      py_0
html5lib                  1.0.1                    py37_0
icc_rt                    2019.0.0             h0cc432a_1
icu                       58.2                 ha66f8fd_1
idna                      2.8                      py37_0
imageio                   2.6.0                    py37_0
imagesize                 1.1.0                    py37_0
importlib_metadata        0.23                     py37_0
intel-openmp              2019.4                      245
ipykernel                 5.1.2            py37h39e3cac_0
ipython                   7.8.0            py37h39e3cac_0
ipython_genutils          0.2.0                    py37_0
ipywidgets                7.5.1                      py_0
isort                     4.3.21                   py37_0
itsdangerous              1.1.0                    py37_0
jdcal                     1.4.1                      py_0
jedi                      0.15.1                   py37_0
jinja2                    2.10.3                     py_0
joblib                    0.13.2                   py37_0
jpeg                      9b                   hb83a4c4_2
json5                     0.8.5                      py_0
jsonschema                3.0.2                    py37_0
jupyter                   1.0.0                    py37_7
jupyter_client            5.3.3                    py37_1
jupyter_console           6.0.0                    py37_0
jupyter_core              4.5.0                      py_0
jupyterlab                1.1.4              pyhf63ae98_0
jupyterlab_server         1.0.6                      py_0
keyring                   18.0.0                   py37_0
kiwisolver                1.1.0            py37ha925a31_0
krb5                      1.16.1               hc04afaa_7
lazy-object-proxy         1.4.2            py37he774522_0
libarchive                3.3.3                h0643e63_5
libcurl                   7.65.3               h2a8f88b_0
libiconv                  1.15                 h1df5818_7
liblief                   0.9.0                ha925a31_2
libpng                    1.6.37               h2a8f88b_0
libsodium                 1.0.16               h9d3ae62_0
libssh2                   1.8.2                h7a1dbc1_0
libtiff                   4.0.10               hb898794_2
libxml2                   2.9.9                h464c3ec_0
libxslt                   1.1.33               h579f668_0
llvmlite                  0.29.0           py37ha925a31_0
locket                    0.2.0                    py37_1
lxml                      4.4.1            py37h1350720_0
lz4-c                     1.8.1.2              h2fa13f4_0
lzo                       2.10                 h6df0209_2
m2w64-gcc-libgfortran     5.3.0                         6
m2w64-gcc-libs            5.3.0                         7
m2w64-gcc-libs-core       5.3.0                         7
m2w64-gmp                 6.1.0                         2
m2w64-libwinpthread-git   5.0.0.4634.697f757               2
markupsafe                1.1.1            py37he774522_0
matplotlib                3.1.0                    pypi_0    pypi
mccabe                    0.6.1                    py37_1
menuinst                  1.4.16           py37he774522_0
missingpy                 0.2.0                    pypi_0    pypi
mistune                   0.8.4            py37he774522_0
mkl                       2019.4                      245
mkl-service               2.3.0            py37hb782905_0
mkl_fft                   1.0.14           py37h14836fe_0
mkl_random                1.1.0            py37h675688f_0
mock                      3.0.5                    py37_0
monkeylearn               3.5.2                    pypi_0    pypi
more-itertools            7.2.0                    py37_0
mpmath                    1.1.0                    py37_0
msgpack-python            0.6.1            py37h74a9793_1
msys2-conda-epoch         20160418                      1
multipledispatch          0.6.0                    py37_0
mysql-connector           2.2.9                    pypi_0    pypi
mysql-connector-python    8.0.21                   pypi_0    pypi
navigator-updater         0.2.1                    py37_0
nbconvert                 5.6.0                    py37_1
nbformat                  4.4.0                    py37_0
networkx                  2.3                        py_0
nltk                      3.4.5                    py37_0
nose                      1.3.7                    py37_2
notebook                  6.0.1                    py37_0
numba                     0.45.1           py37hf9181ef_0
numexpr                   2.7.0            py37hdce8814_0
numpy                     1.16.5           py37h19fb1c0_0
numpy-base                1.16.5           py37hc3f5095_0
numpydoc                  0.9.1                      py_0
olefile                   0.46                     py37_0
openjdk                   8.0.152              h7382acf_1
openpyxl                  3.0.0                      py_0
openssl                   1.1.1d               he774522_2
packaging                 19.2                       py_0
pandas                    0.25.1           py37ha925a31_0
pandoc                    2.2.3.2                       0
pandocfilters             1.4.2                    py37_1
parso                     0.5.1                      py_0
partd                     1.0.0                      py_0
path.py                   12.0.1                     py_0
pathlib2                  2.3.5                    py37_0
patsy                     0.5.1                    py37_0
pep8                      1.7.1                    py37_0
pickleshare               0.7.5                    py37_0
pillow                    6.2.0            py37hdc69c19_0
pip                       20.2.1                   pypi_0    pypi
pipenv                    2020.8.13                pypi_0    pypi
pkginfo                   1.5.0.1                  py37_0
pluggy                    0.13.0                   py37_0
ply                       3.11                     py37_0
powershell_shortcut       0.0.1                         2
prometheus_client         0.7.1                      py_0
prompt_toolkit            2.0.10                     py_0
psutil                    5.6.3            py37he774522_0
py                        1.8.0                    py37_0
py-lief                   0.9.0            py37ha925a31_2
pycodestyle               2.5.0                    py37_0
pycosat                   0.6.3            py37hfa6e2cd_0
pycparser                 2.19                     py37_0
pycrypto                  2.6.1            py37hfa6e2cd_9
pycurl                    7.43.0.3         py37h7a1dbc1_0
pyflakes                  2.1.1                    py37_0
pygments                  2.4.2                      py_0
pylint                    2.4.2                    py37_0
pyodbc                    4.0.27           py37ha925a31_0
pyopenssl                 19.0.0                   py37_0
pyparsing                 2.4.2                      py_0
pyproj                    2.4.2.post1              pypi_0    pypi
pyqt                      5.9.2            py37h6538335_2
pyreadline                2.1                      py37_1
pyrsistent                0.15.4           py37he774522_0
pysocks                   1.7.1                    py37_0
pytables                  3.5.2            py37h1da0976_1
pytest                    5.2.1                    py37_0
pytest-arraydiff          0.3              py37h39e3cac_0
pytest-astropy            0.5.0                    py37_0
pytest-doctestplus        0.4.0                      py_0
pytest-openfiles          0.4.0                      py_0
pytest-remotedata         0.3.2                    py37_0
python                    3.7.4                h5263a28_0
python-dateutil           2.8.0                    py37_0
python-libarchive-c       2.8                     py37_13
pytz                      2019.3                     py_0
pywaffle                  0.6.1                    pypi_0    pypi
pywavelets                1.0.3            py37h8c2d366_1
pywin32                   223              py37hfa6e2cd_1
pywinpty                  0.5.5                 py37_1000
pyyaml                    5.1.2            py37he774522_0
pyzmq                     18.1.0           py37ha925a31_0
qt                        5.9.7            vc14h73c81de_0
qtawesome                 0.6.0                      py_0
qtconsole                 4.5.5                      py_0
qtpy                      1.9.0                      py_0
requests                  2.22.0                   py37_0
rope                      0.14.0                     py_0
ruamel_yaml               0.15.46          py37hfa6e2cd_0
scikit-image              0.15.0           py37ha925a31_0
scikit-learn              0.21.3           py37h6288b17_0
scipy                     1.3.1            py37h29ff71c_0
seaborn                   0.9.0                    py37_0
send2trash                1.5.0                    py37_0
setuptools                41.4.0                   py37_0
simplegeneric             0.8.1                    py37_2
simplejson                3.17.0                   pypi_0    pypi
singledispatch            3.4.0.3                  py37_0
sip                       4.19.8           py37h6538335_0
six                       1.12.0                   py37_0
sklearn                   0.0                      pypi_0    pypi
snappy                    1.1.7                h777316e_3
snowballstemmer           2.0.0                      py_0
sortedcollections         1.1.2                    py37_0
sortedcontainers          2.1.0                    py37_0
soupsieve                 1.9.3                    py37_0
sphinx                    2.2.0                      py_0
sphinxcontrib             1.0                      py37_1
sphinxcontrib-applehelp   1.0.1                      py_0
sphinxcontrib-devhelp     1.0.1                      py_0
sphinxcontrib-htmlhelp    1.0.2                      py_0
sphinxcontrib-jsmath      1.0.1                      py_0
sphinxcontrib-qthelp      1.0.2                      py_0
sphinxcontrib-serializinghtml 1.1.3                      py_0
sphinxcontrib-websupport  1.1.2                      py_0
spyder                    3.3.6                    py37_0
spyder-kernels            0.5.2                    py37_0
sqlalchemy                1.3.9            py37he774522_0
sqlite                    3.30.0               he774522_0
sqlparse                  0.4.1                    pypi_0    pypi
statsmodels               0.10.1           py37h8c2d366_0
sympy                     1.4                      py37_0
tabpy                     1.0.0                    pypi_0    pypi
tabpy-client              0.2                      pypi_0    pypi
tabpy-server              0.2                      pypi_0    pypi
tabulate                  0.8.6                    pypi_0    pypi
tbb                       2019.4               h74a9793_0
tblib                     1.4.0                      py_0
terminado                 0.8.2                    py37_0
testpath                  0.4.2                    py37_0
textblob                  0.15.3                   pypi_0    pypi
tk                        8.6.8                hfa6e2cd_0
toolz                     0.10.0                     py_0
tornado                   5.1.1                    pypi_0    pypi
tornado-json              1.3.4                    pypi_0    pypi
tqdm                      4.36.1                     py_0
traitlets                 4.3.3                    py37_0
unicodecsv                0.14.1                   py37_0
urllib3                   1.24.2                   py37_0
vc                        14.1                 h0510ff6_4
virtualenv                20.1.0                   pypi_0    pypi
virtualenv-clone          0.5.4                    pypi_0    pypi
vs2015_runtime            14.16.27012          hf0eaf9b_0
waitress                  1.4.3                    pypi_0    pypi
wcwidth                   0.1.7                    py37_0
webencodings              0.5.1                    py37_1
werkzeug                  0.16.0                     py_0
wheel                     0.33.6                   py37_0
widgetsnbextension        3.5.1                    py37_0
win_inet_pton             1.1.0                    py37_0
win_unicode_console       0.5                      py37_0
wincertstore              0.2                      py37_0
winpty                    0.4.3                         4
wordcloud                 1.8.0                    pypi_0    pypi
wrapt                     1.11.2           py37he774522_0
xgboost                   0.90                     pypi_0    pypi
xlrd                      1.2.0                    py37_0
xlsxwriter                1.2.1                      py_0
xlwings                   0.15.10                  py37_0
xlwt                      1.3.0                    py37_0
xz                        5.2.4                h2fa13f4_4
yaml                      0.1.7                hc54c509_2
zeromq                    4.3.1                h33f27b4_3
zict                      1.0.0                      py_0
zipp                      0.6.0                      py_0
zlib                      1.2.11               h62dcd97_3
zstd                      1.3.7                h508b16e_0

WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(140): Could not remove or rename C:\ProgramData\Anaconda3\conda-meta\tornado-6.0.3-py37he774522_0.json.  Please remove this file manually (you may need to reboot to free file handles)
WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(140): Could not remove or rename C:\ProgramData\Anaconda3\conda-meta\matplotlib-3.1.1-py37hc8f65d3_0.json.  Please remove this file manually (you may need to reboot to free file handles)
WARNING conda.gateways.disk.delete:unlink_or_rename_to_trash(140): Could not remove or rename C:\ProgramData\Anaconda3\conda-meta\pip-19.2.3-py37_0.json.  Please remove this file manually (you may need to reboot to free file handles)

In [ ]:
! pip install numpy

In [ ]:
! pip upgrade numpy

In [23]:
import numpy
dir(numpy)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__mkl_version__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_arg',
 '_distributor_init',
 '_globals',
 '_mat',
 '_mklinit',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [24]:
10/3

3.3333333333333335

In [25]:
numpy.ceil(10/3)

4.0

In [26]:
import numpy as np

In [38]:
a = np.array([1,2,3])
a

array([1, 2, 3])

In [28]:
a.ndim

1

In [40]:
a.shape

(3,)

In [41]:
a.size

3

In [42]:
a = np.array([[1,2,3], [2,3,4]])
a

array([[1, 2, 3],
       [2, 3, 4]])

In [30]:
a.ndim

2

In [43]:
a.shape

(2, 3)

In [44]:
a.size

6

In [45]:
b = np.arange(10)
b

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
b = np.arange(4, 10)
b

array([4, 5, 6, 7, 8, 9])

In [47]:
b = np.arange(2,10, 2)
b

array([2, 4, 6, 8])

In [53]:
np.linspace(1,9,3)

array([1., 5., 9.])

In [71]:
np.random.seed(0)

b = np.random.sample(3)
b

array([0.5488135 , 0.71518937, 0.60276338])

In [56]:
b = np.random.sample((3,3))
b

array([[0.09834683, 0.42110763, 0.95788953],
       [0.53316528, 0.69187711, 0.31551563],
       [0.68650093, 0.83462567, 0.01828828]])

In [74]:
b = np.random.randint(1,10, (3,3))
b

array([[7, 9, 9],
       [2, 7, 8],
       [8, 9, 2]])

In [75]:
b[0,0]

7

In [77]:
b[:2, :2]

array([[7, 9],
       [2, 7]])

In [78]:
b[1:, 1:]

array([[7, 8],
       [9, 2]])

In [79]:
b

array([[7, 9, 9],
       [2, 7, 8],
       [8, 9, 2]])

In [80]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

In [81]:
b * b

array([[49, 81, 81],
       [ 4, 49, 64],
       [64, 81,  4]])

In [82]:
b + 2

array([[ 9, 11, 11],
       [ 4,  9, 10],
       [10, 11,  4]])

In [83]:
b - 2

array([[5, 7, 7],
       [0, 5, 6],
       [6, 7, 0]])

In [84]:
b * 2

array([[14, 18, 18],
       [ 4, 14, 16],
       [16, 18,  4]])

In [86]:
b ** 2

array([[49, 81, 81],
       [ 4, 49, 64],
       [64, 81,  4]], dtype=int32)

In [87]:
b / 2

array([[3.5, 4.5, 4.5],
       [1. , 3.5, 4. ],
       [4. , 4.5, 1. ]])

In [88]:
np.add(b,2)

array([[ 9, 11, 11],
       [ 4,  9, 10],
       [10, 11,  4]])

In [90]:
np.exp(b)

array([[1.09663316e+03, 8.10308393e+03, 8.10308393e+03],
       [7.38905610e+00, 1.09663316e+03, 2.98095799e+03],
       [2.98095799e+03, 8.10308393e+03, 7.38905610e+00]])

In [91]:
v = np.arange(1,10,2)
v

array([1, 3, 5, 7, 9])

In [92]:
v + 2

array([ 3,  5,  7,  9, 11])

In [93]:
v * 2

array([ 2,  6, 10, 14, 18])

In [94]:
v - 1

array([0, 2, 4, 6, 8])

In [95]:
v / 2

array([0.5, 1.5, 2.5, 3.5, 4.5])

In [96]:
b

array([[7, 9, 9],
       [2, 7, 8],
       [8, 9, 2]])

In [98]:
m = np.matrix(b)
m

matrix([[7, 9, 9],
        [2, 7, 8],
        [8, 9, 2]])

In [99]:
type(m)

numpy.matrix

In [100]:
m.T

matrix([[7, 2, 8],
        [9, 7, 9],
        [9, 8, 2]])

In [101]:
m * m.T

matrix([[211, 149, 155],
        [149, 117,  95],
        [155,  95, 149]])

In [102]:
m + 2

matrix([[ 9, 11, 11],
        [ 4,  9, 10],
        [10, 11,  4]])

In [103]:
m - 2

matrix([[5, 7, 7],
        [0, 5, 6],
        [6, 7, 0]])

In [104]:
m // 2

matrix([[3, 4, 4],
        [1, 3, 4],
        [4, 4, 1]], dtype=int32)

In [106]:
m

matrix([[7, 9, 9],
        [2, 7, 8],
        [8, 9, 2]])

In [107]:
b.sum()

61

In [108]:
m.sum()

61

In [109]:
b.mean()

6.777777777777778

In [110]:
b.std()

2.657391276244755

In [111]:
b.var()

7.061728395061729

In [112]:
b

array([[7, 9, 9],
       [2, 7, 8],
       [8, 9, 2]])

In [113]:
b.sum(axis = 0) # Column

array([17, 25, 19])

In [114]:
b.sum(axis = 1) # Rows

array([25, 17, 19])

In [115]:
b.mean(axis = 0)

array([5.66666667, 8.33333333, 6.33333333])

In [ ]:
# Pandas

In [116]:
import pandas as pd

In [155]:
df = pd.read_csv(r'C:\Users\91965\Documents\BI\Tableau - Module\superstore_dataset2011-2015.csv')

In [119]:
df = pd.read_csv('C:/Users/91965/Documents/BI/Tableau - Module/superstore_dataset2011-2015.csv')

In [120]:
df.head()

,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,48883,HU-2011-1220,01-01-2011,66.120,4,0.0,29.640,8.17,High
1,11731,IT-2011-3647632,01-01-2011,44.865,3,0.5,-26.055,4.82,High
2,42433,AG-2011-2040,01-01-2011,408.300,2,0.0,106.140,35.46,Medium
3,22253,IN-2011-47883,01-01-2011,120.366,3,0.1,36.036,9.72,Medium
4,22255,IN-2011-47883,01-01-2011,113.670,5,0.1,37.770,4.70,Medium

In [183]:
test = pd.read_csv('Test.csv')

In [184]:
test.head(1)

,Unnamed: 0,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,0,48883,HU-2011-1220,01-01-2011,66.12,4,0.0,29.64,8.17,High

In [122]:
df1 = pd.read_excel(r'C:\Users\91965\Documents\BI\Tableau - Module\Tableau - Oct Batch\Chapter04\PropertyOrderProduct.xlsx', sheet_name = "Products")

In [123]:
df1.head()

   ProductID  ProductName ProductCategory  Price
0          1  Large Towel    Housekeeping      9
1          2   Hand Towel    Housekeeping      5
2          3    Washcloth    Housekeeping      3
3          4      Shampoo    Housekeeping     40
4          5  Moisturizer    Housekeeping     40

In [124]:
df2 = df.iloc[:5,:]
df2

,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,48883,HU-2011-1220,01-01-2011,66.120,4,0.0,29.640,8.17,High
1,11731,IT-2011-3647632,01-01-2011,44.865,3,0.5,-26.055,4.82,High
2,42433,AG-2011-2040,01-01-2011,408.300,2,0.0,106.140,35.46,Medium
3,22253,IN-2011-47883,01-01-2011,120.366,3,0.1,36.036,9.72,Medium
4,22255,IN-2011-47883,01-01-2011,113.670,5,0.1,37.770,4.70,Medium

In [125]:
df2.to_csv('Test.csv')

In [126]:
df2.to_excel('Test.xlsx')

In [127]:
type(df2)

pandas.core.frame.DataFrame

In [135]:
df = pd.DataFrame(np.random.randint(1,20,(10,4)))
df

    0   1   2   3
0  15   4  18  19
1  15  10   2   5
2  11  12   9  12
3   3  17   1   1
4   7  15  11   9
5  14   3   4   3
6  12  14  17   9
7   9   9   3   4
8  13  15   1   5
9   4  14  12  14

In [136]:
df = pd.DataFrame(np.random.randint(1,20,(10,4)), columns = ['A', 'B', 'C', 'D'])
df

    A   B   C   D
0  14  12  17  15
1  17   2   9   1
2   5   7  14   8
3  16  10  19   9
4  16  12   7  16
5   2  13   4  19
6  16   4  11  13
7   7   4   6  12
8   1  12   9  11
9  12   6  16   9

In [137]:
df = pd.DataFrame(np.random.randint(1,20,(10,4)), columns = list('ABCD'))
df

   A   B   C   D
0  3  15   4   4
1  8  10  10  10
2  4  15  19  13
3  4  10  11  14
4  8   8   2  13
5  3   3   2   6
6  9   5   1  12
7  3   6  17   9
8  2  18  17   4
9  9   5  17   4

In [138]:
index_a = pd.date_range(start = "31-01-2021", periods = 10, freq = "D")
index_a

DatetimeIndex(['2021-01-31', '2021-02-01', '2021-02-02', '2021-02-03',
               '2021-02-04', '2021-02-05', '2021-02-06', '2021-02-07',
               '2021-02-08', '2021-02-09'],
              dtype='datetime64[ns]', freq='D')

In [175]:
df = pd.DataFrame(np.random.randint(1,20,(10,4)), index = index_a, columns = list('ABCD'))
df

             A   B   C   D
2021-01-31   9   8  14  18
2021-02-01   1  12   5   1
2021-02-02  11  15  19   5
2021-02-03   4   8   9  14
2021-02-04   6   1   9  16
2021-02-05  16  12   5   8
2021-02-06  14  11  15  18
2021-02-07   4  10  19   3
2021-02-08  12  19  14   2
2021-02-09   7  11  17  17

In [143]:
df[:2]

            A   B   C   D
2021-01-31  8   4  19  18
2021-02-01  2  19  18   3

In [144]:
df['C']

2021-01-31    19
2021-02-01    18
2021-02-02    13
2021-02-03     8
2021-02-04     7
2021-02-05    18
2021-02-06    19
2021-02-07    18
2021-02-08    11
2021-02-09    15
Freq: D, Name: C, dtype: int32

In [145]:
df.loc[:,['A', 'C']]

             A   C
2021-01-31   8  19
2021-02-01   2  18
2021-02-02   6  13
2021-02-03   3   8
2021-02-04  12   7
2021-02-05  19  18
2021-02-06  15  19
2021-02-07  10  18
2021-02-08   1  11
2021-02-09   4  15

In [152]:
df.loc['2021-01-31':'2021-02-04','A':'C']

             A   B   C
2021-01-31   8   4  19
2021-02-01   2  19  18
2021-02-02   6   6  13
2021-02-03   3  16   8
2021-02-04  12  18   7

In [153]:
df.iloc[:3, :2]

            A   B
2021-01-31  8   4
2021-02-01  2  19
2021-02-02  6   6

In [154]:
df.iloc[:3, [1,3]]

             B   D
2021-01-31   4  18
2021-02-01  19   3
2021-02-02   6  13

In [156]:
df

,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,48883,HU-2011-1220,01-01-2011,66.120,4,0.00,29.6400,8.17,High
1,11731,IT-2011-3647632,01-01-2011,44.865,3,0.50,-26.0550,4.82,High
2,42433,AG-2011-2040,01-01-2011,408.300,2,0.00,106.1400,35.46,Medium
3,22253,IN-2011-47883,01-01-2011,120.366,3,0.10,36.0360,9.72,Medium
4,22255,IN-2011-47883,01-01-2011,113.670,5,0.10,37.7700,4.70,Medium
5,22254,IN-2011-47883,01-01-2011,55.242,2,0.10,15.3420,1.80,Medium
6,21613,IN-2011-30733,01-02-2011,285.780,2,0.00,71.4000,57.30,Critical
7,44508,AO-2011-1390,01-02-2011,206.400,1,0.00,92.8800,53.08,Critical
8,23688,ID-2011-56493,01-02-2011,162.720,3,0.00,68.3100,44.36,Critical
9,21615,IN-2011-30733,01-02-2011,40.680,3,0.00,11.7900,11.13,Critical
10,21614,IN-2011-30733,01-02-2011,22.650,5,0.00,9.6000,5.29,Critical
11,21616,IN-2011-30733,01-02-2011,20.340,3,0.00,9.9000,3.78,Critical
12,34662,CA-2011-115161,01-02-2011,290.666,2,0.15,3.4196,54.64,High
13,41445,IR-2011-6550,01-02-2011,309.600,6,0.00,148.5000,19.65,High
14,16727,ES-2011-5268439,01-02-2011,139.650,5,0.00,15.3000,19.23,High
15,16726,ES-2011-5268439,01-02-2011,21.390,1,0.00,0.0000,3.34,High
16,25293,IN-2011-36074,01-02-2011,352.350,5,0.00,137.4000,33.15,Medium
17,8483,US-2011-118892,01-02-2011,400.704,2,0.40,20.0240,21.38,Medium
18,8484,US-2011-118892,01-02-2011,81.984,2,0.40,-19.1360,6.21,Medium
19,19796,ES-2011-5460465,01-02-2011,78.300,3,0.00,20.3400,6.03,Medium

In [157]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [158]:
len(df.columns)

9

In [161]:
df.index

RangeIndex(start=0, stop=20, step=1)

In [164]:
df.head(2)

,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,48883,HU-2011-1220,01-01-2011,66.120,4,0.0,29.640,8.17,High
1,11731,IT-2011-3647632,01-01-2011,44.865,3,0.5,-26.055,4.82,High

In [165]:
df.tail(2)

,Row ID,Order ID,Order Date,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
18,8484,US-2011-118892,01-02-2011,81.984,2,0.4,-19.136,6.21,Medium
19,19796,ES-2011-5460465,01-02-2011,78.300,3,0.0,20.340,6.03,Medium

In [166]:
dir(pd)

['Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [170]:
pd.value_counts(df['Order Priority'])

Medium      8
High        6
Critical    6
Name: Order Priority, dtype: int64

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 9 columns):
Row ID            20 non-null int64
Order ID          20 non-null object
Order Date        20 non-null object
Sales             20 non-null float64
Quantity          20 non-null int64
Discount          20 non-null float64
Profit            20 non-null float64
Shipping Cost     20 non-null float64
Order Priority    20 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 1.5+ KB

In [173]:
df.describe()

,Row ID,Sales,Quantity,Discount,Profit,Shipping Cost
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,24803.950000,161.088850,3.100000,0.087500,39.430030,20.162000
std,11638.880202,132.933971,1.447321,0.157175,49.079329,19.133003
min,8483.000000,20.340000,1.000000,0.000000,-26.055000,1.800000
25%,19028.750000,52.647750,2.000000,0.000000,9.825000,5.172500
50%,21934.500000,117.018000,3.000000,0.000000,20.182000,10.425000
75%,27635.250000,287.001500,4.250000,0.100000,69.082500,33.727500
max,48883.000000,408.300000,6.000000,0.500000,148.500000,57.300000

In [174]:
df.shape

(20, 9)

In [176]:
df

             A   B   C   D
2021-01-31   9   8  14  18
2021-02-01   1  12   5   1
2021-02-02  11  15  19   5
2021-02-03   4   8   9  14
2021-02-04   6   1   9  16
2021-02-05  16  12   5   8
2021-02-06  14  11  15  18
2021-02-07   4  10  19   3
2021-02-08  12  19  14   2
2021-02-09   7  11  17  17

In [178]:
df.sort_index(ascending = False)

             A   B   C   D
2021-02-09   7  11  17  17
2021-02-08  12  19  14   2
2021-02-07   4  10  19   3
2021-02-06  14  11  15  18
2021-02-05  16  12   5   8
2021-02-04   6   1   9  16
2021-02-03   4   8   9  14
2021-02-02  11  15  19   5
2021-02-01   1  12   5   1
2021-01-31   9   8  14  18

In [179]:
df.sort_index()

             A   B   C   D
2021-01-31   9   8  14  18
2021-02-01   1  12   5   1
2021-02-02  11  15  19   5
2021-02-03   4   8   9  14
2021-02-04   6   1   9  16
2021-02-05  16  12   5   8
2021-02-06  14  11  15  18
2021-02-07   4  10  19   3
2021-02-08  12  19  14   2
2021-02-09   7  11  17  17

In [181]:
df.sort_values("A")

             A   B   C   D
2021-02-01   1  12   5   1
2021-02-03   4   8   9  14
2021-02-07   4  10  19   3
2021-02-04   6   1   9  16
2021-02-09   7  11  17  17
2021-01-31   9   8  14  18
2021-02-02  11  15  19   5
2021-02-08  12  19  14   2
2021-02-06  14  11  15  18
2021-02-05  16  12   5   8

In [182]:
df.sort_values("A", ascending = False)

             A   B   C   D
2021-02-05  16  12   5   8
2021-02-06  14  11  15  18
2021-02-08  12  19  14   2
2021-02-02  11  15  19   5
2021-01-31   9   8  14  18
2021-02-09   7  11  17  17
2021-02-04   6   1   9  16
2021-02-03   4   8   9  14
2021-02-07   4  10  19   3
2021-02-01   1  12   5   1