# Pandas - Cont...

In [ ]:
# dropping missing columns/rows, filling the same

In [ ]:
# Joining & grouping Dataframes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dates = pd.date_range(start ='1-1-2018', periods=10, freq='D')
dates

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=list('ABCD'))
df

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

In [ ]:
# dropping any missing values
df1.dropna(how='any', axis = 0, inplace = True) #all

In [ ]:
df1

In [ ]:
# dropping any missing values
df1.dropna(how='all', axis = 0, inplace = True) #all

In [ ]:
df1

In [ ]:
np.mean(df1['D'])

In [ ]:
# filling missing values
df1.fillna(np.mean(df1['E']))

In [ ]:
# filling missing values
df1.fillna(np.median(df1.iloc[:2, 4]))

In [ ]:
np.median(df1.iloc[:2, 4])

# Joins

In [ ]:
df =  pd.DataFrame(np.random.randint(1,10,(10,4)))
df

In [ ]:
students = {1:"Tipu", 2: 'Geetha', 3:'Poojitha', 4:'Vinod', 5:'Nithya'}
students

In [ ]:
df = pd.DataFrame(students, index = list('A'))
df

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'nar'], 'rval': [3, 4]})
print(left)
print('\n----------')
print(right)

In [ ]:
pd.merge(left, right, how = "inner",  on = "key")

In [ ]:
pd.merge(left, right, how = "left",  on = "key")

In [ ]:
pd.merge(left, right, how = "right",  on = "key")

In [ ]:
pd.merge(left, right, how = "outer",  on = "key")

In [ ]:
orders = pd.read_excel(r'C:\Users\91965\Documents\Besant\Tableau\Ex_Files_Tableau10_EssT_Update\Exercise Files\Chapter10\PropertyOrderProduct.xlsx', sheet_name = "OrderDetails")
products = pd.read_excel(r'C:\Users\91965\Documents\Besant\Tableau\Ex_Files_Tableau10_EssT_Update\Exercise Files\Chapter10\PropertyOrderProduct.xlsx', sheet_name = "Products")

In [ ]:
orders.columns

In [ ]:
products.columns

In [ ]:
orders.head()

In [ ]:
products.head()

In [ ]:
total_values = pd.merge(orders, products, how  = 'inner', on = 'ProductID')
total_values.tail(5)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key1': ['foo', 'nar'], 'rval': [3, 4]})
print(left)
print('\n----------')
print(right)

In [ ]:
pd.merge(left, right, how = "inner",  left_on = "key", right_on = "key1")

# Group by

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby('A').count()

In [ ]:
df.groupby('A').mean()

In [ ]:
df.groupby('A')['C'].sum()

In [ ]:
df.groupby(['A', 'B'])['C'].sum()

In [ ]:
df.groupby(['A', 'B']).sum()

# Functions

In [ ]:
def first_function():
    pass

In [ ]:
first_function()

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
my_function()

In [ ]:
my_function()

In [ ]:
def add(x, y):
    return x + y

add(10,15)

In [ ]:
def add():
#     global t, l
    t = int(input('Enter a Number:'))
    l = int(input('Enter a Number:'))
    return t + l

In [ ]:
def add():
#     global t, l
    g, h = 10, 15
    return g + h

In [ ]:
add()

In [ ]:
g

In [ ]:
add()

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Gowtham", "Kumar")

In [ ]:
my_function("Gowtham")

In [ ]:
def greet(name, msg):
    """This function greets to
    the person with the provided message"""
    print("Hello", name + ', ' + msg)

greet("Monica", "Good morning!")

In [ ]:
greet.__doc__

In [ ]:
def greet(name, msg="Good morning!"):
    """
    This function greets to
    the person with the
    provided message.

    If the message is not provided,
    it defaults to "Good
    morning!"
    """

    print("Hello", name + ', ' + msg)


greet("Kate")
greet("Bruce", "How do you do?")
greet("Lee", msg = "Where are you?")

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

In [ ]:
def hello(name, loud=False):
    if loud:
        print ('HELLO, %s' % name.upper())
    else:
        print ('Hello, %s!' % name)

hello('Bob', loud = True)
hello('Fred')

In [1]:
def add(x, y, z):
    return x + y + z

In [3]:
add(10,15,12, 13)

TypeError: add() takes 3 positional arguments but 4 were given

In [4]:
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Hello", name)


greet("Monica", "Luke", "Steve", "John")

Hello Monica
Hello Luke
Hello Steve
Hello John

In [5]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [6]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [8]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Taylor")

His last name is Taylor

In [11]:
def demographics(**info):
    return f'{info["name"]} is working at {info["company"]} for the last {info["exp"]} years'

In [14]:
demographics(name = "Gowtham", company = "SS", exp = 2, age = 145)

'Gowtham is working at SS for the last 2 years'

In [17]:
def add(z):
    return z[0] + z[1]

In [19]:
add('abc')

'ab'

In [16]:
def my_function(food):
  for x in food:
    print(x)

# fruits = ["apple", "banana", "cherry"]
fruits = lisat(range(10))

my_function(fruits)

0
1
2
3
4
5
6
7
8
9

# Scope

In [36]:
def add(x, y):
    total = x + y
    return total
#     print('Something')

In [38]:
add(10,20)

30

In [39]:
def add( arg1, arg2 ):
    total = arg1 + arg2; # Here total is local variable.
#     return total
    print ("Inside the function local total : ", total)

add(10, 20)
print ("Outside the function global total : ", total)

Inside the function local total :  30

NameError: name 'total' is not defined

In [40]:
def add( arg1, arg2 ):
    global total
    total = arg1 + arg2; # Here total is local variable.
#     return total
    print ("Inside the function local total : ", total)

add(10, 20)
print ("Outside the function global total : ", total)

Inside the function local total :  30
Outside the function global total :  30

#### ACTIVITY:
Define a function which would take a number 'n' as input and compute the sum of natural numbers till n.
Example if input number is 5, the function returns the result: 1+2+3+4+5

HINT: You can use the shortcut formula n(n+1)/2.
So for n = 5, result = 5*6/2 = 15

#### ACTIVITY:
Write a function 'F' which would take in two numbers. Based on user choice 1 == add the numbers or 2 == multiply the two numbers, perform the operation and return the appropriate results

# Lambda

In [42]:
var = lambda x, y: x + y
var(10,20)

30

In [43]:
(lambda x, y, z: x + y + z)(1, 2, 3)

6

In [44]:
(lambda x, y, z=3: x + y + z)(1, 2)

6

In [45]:
(lambda x, y, z=3: x + y + z)(1, y=2)

6

In [47]:
# Lambda Function

adder = lambda x, y: x + y
adder(1, 2)

3

In [48]:
x = lambda x,y : x + y
x(5,10)

15

In [49]:
x = lambda a, b, c : a + b + c
x(5, 6, 2)

13

In [50]:
sq = lambda x : x*x
sq(5)

25

In [51]:
a = list(range(10))
a.append('New')
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'New']

In [53]:
(lambda x: x % 2 == 0)[a]

TypeError: 'function' object is not subscriptable

In [56]:
# Lambda with a Filter

sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = filter (lambda x: x > 4, sequences) 
print(list(filtered_result))

[10, 8, 7, 5, 11]

In [57]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)

[4, 6, 8, 12]

In [58]:
sequences = 10,15
filtered_result = (lambda x: x*x)(sequences)
print(tuple(filtered_result))

TypeError: can't multiply sequence by non-int of type 'tuple'

In [68]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
for i in a:
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [71]:
b = map(lambda x : x*x, a)
print(list(b))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
# lambdas in map()

sequences = [10,2,8,7,5,4,3,11,0, 1]
filtered_result = map(lambda x: x*x, sequences) 
print(list(filtered_result))

[100, 4, 64, 49, 25, 16, 9, 121, 0, 1]

In [60]:
animals = ['dog', 'cat', 'parrot', 'rabbit'] 
  
uppered_animals = list(map(lambda animal: str.upper(animal), animals)) 
uppered_animals

['DOG', 'CAT', 'PARROT', 'RABBIT']

In [61]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
a = reduce((lambda x, y: x + y), li) 
print (a)

193

In [62]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
a = reduce((lambda x, y: x * y), li) 
print (a)

40000000

In [63]:
lis = [ 1 , 3, 5, 6, 2, ]  
print (reduce(lambda a,b : a if a > b else b,lis))

6

In [64]:
lis = [ 1 , 3, 5, 4, 8, ]  
print (reduce(lambda a,b : a if a > b else b,lis))

8

In [67]:
def myfunc(n):
  return lambda a : a ** n

mytripler = myfunc(2)

print(mytripler(11))

121