# Lists - []

In [7]:
a = [11,22,33,44,55,11,'New', True, 5.5]
print(a)
type(a)

[11, 22, 33, 44, 55, 11, 'New', True, 5.5]

list

In [8]:
a.append('Last')
a

[11, 22, 33, 44, 55, 11, 'New', True, 5.5, 'Last']

In [10]:
a.insert(6, 'Python')
a

[11, 22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'Last']

In [11]:
a.index(True)

8

In [12]:
a.pop()

'Last'

In [13]:
a

[11, 22, 33, 44, 55, 11, 'Python', 'New', True, 5.5]

In [14]:
a.pop(0)
a

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5]

In [15]:
b = ['one', 'Two', 'Three']
a.extend(b)

In [16]:
a

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two', 'Three']

In [20]:
new = a.copy()
new

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two']

In [21]:
new.pop(0)
new

[33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two']

In [22]:
a

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two']

In [17]:
new = a
new

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two', 'Three']

In [18]:
new.pop()
new

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two']

In [19]:
a

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two']

In [23]:
a.count(11)

1

In [24]:
a.append(11)
a

[22, 33, 44, 55, 11, 'Python', 'New', True, 5.5, 'one', 'Two', 11]

In [26]:
a.count(11)

2

In [27]:
a.remove('Python')

In [28]:
a

[22, 33, 44, 55, 11, 'New', True, 5.5, 'one', 'Two', 11]

In [29]:
a.reverse()
a

[11, 'Two', 'one', 5.5, True, 'New', 11, 55, 44, 33, 22]

In [30]:
a.sort()
a

TypeError: '<' not supported between instances of 'str' and 'int'

In [31]:
a = [12,45,1,34,89]
a.sort()

In [32]:
a

[1, 12, 34, 45, 89]

In [34]:
a.sort(reverse = True)
a

[89, 45, 34, 12, 1]

In [35]:
a.clear()
a

[]

# Indexing & Slicing

In [36]:
a = [10,22,33,44,55,66,77]
print(a)

[10, 22, 33, 44, 55, 66, 77]

In [43]:
print('Only the First value:', a[0])
print('\nOnly the Last value:', a[-1])
print('\nFrom 2nd Index till Everything:', a[1:])
print('\nUpto 4th Index:', a[:4])
print('\nFrom 2nd to 6th Index:', a[2:6])
print('\nValues with Intervals:', a[::2])
print('\nReverse:', a[::-1])
print('\nNegative Indexing:', a[-1:])

Only the First value: 10

Only the Last value: 77

From 2nd Index till Everything: [22, 33, 44, 55, 66, 77]

Upto 4th Index: [10, 22, 33, 44]

From 2nd to 6th Index: [33, 44, 55, 66]

Values with Intervals: [10, 33, 55, 77]

Reverse: [77, 66, 55, 44, 33, 22, 10]

Negative Indexing: [77]

In [44]:
a = 'Python is Boring'
a[0]

'P'

In [45]:
print('Only the First value:', a[0])
print('\nOnly the Last value:', a[-1])
print('\nFrom 2nd Index till Everything:', a[1:])
print('\nUpto 4th Index:', a[:4])
print('\nFrom 2nd to 6th Index:', a[2:6])
print('\nValues with Intervals:', a[::2])
print('\nReverse:', a[::-1])
print('\nNegative Indexing:', a[-1:])

Only the First value: P

Only the Last value: g

From 2nd Index till Everything: ython is Boring

Upto 4th Index: Pyth

From 2nd to 6th Index: thon

Values with Intervals: Pto sBrn

Reverse: gniroB si nohtyP

Negative Indexing: g

In [51]:
a.split(" ")

['Python', 'is', 'Boring']

In [ ]:
# Activity

1. Create a List and add all datatypes in it. Allow Duplicates 
2. Access the 2nd last element and change it into "Besant"
3. Delete the last element using remove function
4. Count the frequently present element
5. Reverse the entire list by Indexing
6. Clear the entire list and retain the empty list

In [52]:
a = [1,2,3,2.5, True, 'New']
a

[1, 2, 3, 2.5, True, 'New']

In [54]:
a.index('New')

5

In [55]:
a[4] = False
a

[1, 2, 3, 2.5, False, 'New']

# Tuples - ()

In [58]:
a = 1, 2, 3, 'New', True, 4.5
a

(1, 2, 3, 'New', True, 4.5)

In [59]:
type(a)

tuple

In [62]:
a = (1, 2, 3, 'New', True, 4.5, 1)
print(a)
type(a)

(1, 2, 3, 'New', True, 4.5, 1)

tuple

In [61]:
a[3] = 'Old'

TypeError: 'tuple' object does not support item assignment

In [63]:
b = list(a)
b[3] = 'Old'
a = tuple(b)
a

(1, 2, 3, 'Old', True, 4.5, 1)

In [69]:
a

(1, 2, 3, 'Old', True, 4.5, 1)

In [74]:
a = (1,2,3,1,2,4)
a.count(2)

2

In [75]:
a.index(4)

5

In [78]:
print(a, '\n')
print('Only the First value:', a[0])
print('\nOnly the Last value:', a[-1])
print('\nFrom 2nd Index till Everything:', a[1:])
print('\nUpto 4th Index:', a[:4])
print('\nFrom 2nd to 6th Index:', a[2:6])
print('\nValues with Intervals:', a[::2])
print('\nReverse:', a[::-1])
print('\nNegative Indexing:', a[-1:])

(1, 2, 3, 1, 2, 4)

Only the First value: 1

Only the Last value: 4

From 2nd Index till Everything: (2, 3, 1, 2, 4)

Upto 4th Index: (1, 2, 3, 1)

From 2nd to 6th Index: (3, 1, 2, 4)

Values with Intervals: (1, 3, 2)

Reverse: (4, 2, 1, 3, 2, 1)

Negative Indexing: (4,)